article.platformSupport .arc {
	&.unsupported {
		fill: @red;		
	}
	&.supported {
		fill: @light_blue;
	}
}

article.moderationRatio .arc {
	&.moderator {
		fill: @blue;
	}
	&.non-moderator {
		fill: @light_blue;
	}
}

article.os {
	.arc {
		&.win {
			fill: @light_blue;
			
			/*&.xp {
				fill: @red;
			}*/
		}
		&.mac {
			fill: @light_purple;
		}
	}
	
	figcaption {
		.win {
			color: @light_blue;
		}
		
		.mac {
			color: @light_purple;
		}
	}
}

article.browser .arc {
	&.firefox {
		fill: @light_orange;
	}
	&.other {
		fill: @red;
	}
	&.ie {
		fill: @light_blue;
	}
	&.safari {
		fill: @light_purple;
	}
	&.chrome {
		fill: @light_green;
	}
}

article.authenticatedRatio .arc {
	&.anonymous {
		fill: @light_blue;
	}
	&.authenticated {
		fill: @blue;
	}
}

article.countdown {
	&.late {
		.value {
			color: @red;
		}
		.note {
			color: @light_red;
		}
	}
}

article.versionMatrix {
	dl {
		margin-top: 27px;
	}
	
	dd {
		font-family: "WhitneyNumeric";
		color: @light_text;
	
		span {
			color: black;
		}
	}
}

article.codebase {
	figure {
		margin-top: 33px;
	}
}

article.manualTime {
	figure {
		margin-top: 46px;
	}
}

article.timeByMethod {
	figure {
		margin-top: 46px;
	}
	
	.key {
		width: 83px;
	}
	
	.bar {
		right: 140px;
	}
}

article.joinFailureRate .arc {
	&.failure {
		fill: @red;		
	}
	&.success {
		fill: @light_blue;
	}
}

article.attemptsByMethod {
	figcaption {
		
	}
}

article.elementUsage {
	width: 100%;
	height: auto;
	
	dl {
		column-count: 4;
		//margin-bottom: 8px;
		column-gap: 30px;
		column-rule: 1px solid @light_gray;
		-webkit-column-count: 4;
		-webkit-column-gap: 30px;
		-webkit-column-rule: 1px solid @light_gray;
	}
	
	.iconPair(@primaryIcon, @secondaryIcon){
		.icon {
			&.primary {
				background-image: ~"url('./images/@{primaryIcon}.png')";
			}
			
			&.secondary {
				background-image: ~"url('./images/@{secondaryIcon}.png')";
			}
		}
	}
	
	dt {
		&.usedPreview {
			.iconPair('preview', 'pointer');
		}
		&.previewTimedOut {
			.iconPair('preview', 'clock');
		}
		&.changedDefaultDevices {
			.iconPair('devices', 'preferences');
		}
		&.usedKeyboardAudioMute {
			.iconPair('audio-mute-slash', 'keyboard');
		}
		&.usedKeyboardVideoMute {
			.iconPair('video-mute-slash', 'keyboard');
		}
		&.collapsedParticipantPanel {
			.iconPair('sidebar-collapse', 'pointer');
		}
		&.closedSelfView {
			.iconPair('selfview', 'close');
		}
		&.openedSettings {
			.iconPair('preferences', 'see');
		}
		&.sawLeavePanel {
			.iconPair('close', 'see');
		}
		&.leftUsingPanel {
			.iconPair('close', 'pointer');
		}
		&.sawLayoutPanel {
			.iconPair('layouts', 'see');
		}
		&.changedLayoutUsingPanel {
			.iconPair('layouts', 'pointer');
		}
		&.usedRosterMuteSelf {
			.iconPair('audio-mute-slash', 'dude');
		}
		&.usedRosterMuteOthers {
			.iconPair('audio-mute-slash', 'dudes');
		}
		&.expandedRosterPanel {
			.iconPair('participant-row', 'pointer');
		}
		&.droppedParticipant {
			.iconPair('dude', 'close');
		}
		&.clickedOnEditName {
			.iconPair('edit', 'pointer');
		}
	}
}