.category(@color){
	fill: @color;
	background-color: @color;
	color: @color;
}
&.category0 { .category(@light_blue); }
&.category1 { .category(@light_purple); }
&.category2 { .category(@light_green); }
&.category3 { .category(@light_orange); }
&.category4 { .category(@blue); }
&.category5 { .category(@purple); }
&.category6 { .category(@green); }
&.category7 { .category(@orange); }

figcaption {
	margin-top: 17px;
	font: italic 14px "Whitney";
	color: @medium_text;
	
	strong {
		color: @blue;
		font-weight: bold;
	}
	
	span {
		background-color: transparent !important;
	}
	
	.error {
		font-weight: bold;
	}
}

figure.pie {
	
	//height: 91px;
	
	/*figcaption {
		margin-top: 14px;
	}*/
	
	svg {
		height: 91px;
		margin-top: 26px;
	}
	
	.arc {
		stroke: #FFFFFF;
		stroke-width: 2px;
		stroke-miterlimit: 1;
		stroke-linecap: round;
		
		/* https://github.com/mbostock/d3/wiki/Ordinal-Scales#wiki-category20 */
		
		/*&.category6 { fill:@red; }
		&.category7 { fill:@light_red; }
		&.category10 { fill:#8c564b; }
		&.category11 { fill:#c49c94; }
		&.category12 { fill:#e377c2; }
		&.category13 { fill:#f7b6d2; }
		&.category14 { fill:#7f7f7f; }
		&.category15 { fill:#c7c7c7; }
		&.category16 { fill:#bcbd22; }
		&.category17 { fill:#dbdb8d; }
		&.category18 { fill:#17becf; }
		&.category19 { fill:#9edae5; }*/
	}
}

figure.numeric {
	font-family: "Knockout-26";
	color: @blue;
	text-transform: uppercase;
	text-align: right;
	
	.value {
		font-size: 152px;
		line-height: 152px;
	}
	
	.note {
		font-size: 50px;
		color: @light_blue;
		white-space: pre; 
	}
}

figure.iconTable {
	dt {
		font: italic 12px "Whitney";
		color: @medium_text;
		position: relative;
		padding-left: 96px;
		break-after: avoid;
		-webkit-column-break-after: avoid;
		
		.icon {
			@width: 35px;
			@height: 27px; 
			
			position: absolute;
			top: 2px;
			width: @width;
			height: @height;
			
			background-position: 0 0;
			background-repeat: no-repeat;
		
			&.primary {
				left: 0;
				background-color: @dark_gray;
			}
			
			&.secondary {
				left: 39px;
				background-color: @medium_text;
			}
		}
	}
	
	dd {
		font: bold 17px "WhitneyNumeric";
		
		border-left: 1px dotted @light_gray;
		//border-right: 1px solid @dark_gray;
		break-inside: avoid;
		-webkit-column-break-inside: avoid;
		height: 35px;
		
		margin-left: 82px;
		padding-left: 14px;
		margin-top: -17px;
		padding-top: 17px;
	}
}

figure.table {
	dl {
		font: 17px/30px "Whitney";
		line-height: 30px;
		overflow: hidden;
	}
	
	dt {
		color: @medium_text;
		font-family: "Whitney";
		font-style: italic;
		float: left;
		clear: both;
	}
	
	dd {
		float: right;
		font-weight: bold;
	}
}

figure.bars {
	
	@barHeight: 14px;
	
	font-size: 17px;
	line-height: @barHeight;
	
	.barColor(@color){
		.bar > div {
			background-color: @color;
		}
	}
	
	> div {
		position: relative;
		height: @barHeight;
		
		+ div {
			margin-top: 16px;
		}
		
		/*&:nth-child(4n+1){
			.barColor(@light_blue);
		}
		
		&:nth-child(4n+2){
			.barColor(@light_purple);
		}
		
		&:nth-child(4n+3){
			.barColor(@light_green);
		}
		
		&:nth-child(4n+4){
			.barColor(@light_orange);
		}*/
	}
	
	.bar {
		position: absolute;
		right: 104px;
		top: 0;
		bottom: 0;
		left: 0;
		
		> div {
			border-radius: 2px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}
	}
	
	.key {
		position: absolute;
		width: 40px;
		right: 35px;
		font-family: "Whitney";
		font-style: italic;
		color: @medium_text;
		text-transform: lowercase;
	}
	
	.value {
		position: absolute;
		text-align: right;
		font-family: "WhitneyNumeric";
		font-weight: bold;
		width: 34px;
		right: 0;
		
		.unit {
			font-family: "Whitney";
			//color: @medium_text;
		}
	}
	
	.footer {
		.key {
			color: @light_blue;
			
		}
		
		.value {
			color: @blue;
			
			.unit {
				//color: @light_blue;
			}
		}
	}
}

figure.histogram {
	text-align: center;
	
	.bars {
		//display: inline-block;
		position: relative;
		height: 91px;
		margin-top: 26px;
		
		div {
			display: inline-block;
			background-color: @light_blue;
			vertical-align: bottom;
			position: relative;
			width: 13px;
			
			+ div {
				margin-left: 3px;
			}
			
			&.average {
				background-color: @blue;
			}
			
			span {
				font-size: 9px;
				font-family: "Whitney";
				color: white;
				text-align: center;
				display: block;
				bottom: 0;
				position: absolute;
				width: 100%;
			}
		}
	}
}