@dark_gray: #404040;
@medium_gray: #b5b5b5;
@light_gray: #cccccc;
@medium_text: #737373;
@light_text: #8c8c8c;

@red: #d45959;
@light_red: #ffa8a8;
@blue: #2889db;
@light_blue: #87c9ff;
@purple: #9e56ce;
@light_purple: #ab98ff;
@orange: #e3790f;
@light_orange: #ffcd87;
@green: #069900;
@light_green: #7dcb8b;