body {
	background: #ccc;
	min-width: 1080px;
}

strong.error{
	color: @red;
}

header {
	background: black;
	padding: 1px 35px;
	position: relative;
	
	h1 {
		font: 68px "Leviathan-Black";
		font-style: italic;
		text-transform: uppercase;
		color: white;
	}
	
	div {
		font: 35px "Knockout-28";
		text-transform: uppercase;
		color: #d9d9d9;
		position: absolute;
		bottom: 16px;
		right: 35px;
	}
}

section {
	@separator_width: 1px;
	@separator_color: @light_gray;
	
	clear: both;
	background: @dark_gray;
	border-radius: 7px;
	margin: 17px;
	padding: 3px;
	position: relative;
	
	.articles {
		min-height: 200px;
		overflow: hidden;
		background: white;
		border-radius: 4px;
		margin-left: 70px;
		padding: 17px 0;
	}
	
	article {
		float: left;
		box-sizing: border-box;
		height: 200px;
		width: 25%;
		border-left: @separator_width solid @separator_color;
		padding: 0 17px;
	}
	
	hr {
		@verticalGutter: 12px;
		clear: both;
		border: none;
		margin: 0 14px @verticalGutter;
		padding: @verticalGutter 0 0;
		height: 0px;
		border-bottom: @separator_width solid @separator_color;
	}
	
	hr + article, article:first-child {
		//padding-left: 0;
		border-left: none;
	}
	
	article:nth-child(5n - 1) {
		//padding-right: 0;
	}
	
	h2 {
		margin: 0;
		
		font: 50px "Knockout-27";
		letter-spacing: 1px;
		color: white;
		text-transform: uppercase;
		
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		
		span {
			.rotate(-90deg);
			direction: rtl;
			display: block;
			width: 0;
			height: 0;
			margin-left: 11px;
			margin-top: 18px;
		}
	}
	
	h3 {
		color: #2d2d2d;
		text-transform: uppercase;
		font: 37px/27px "Knockout-68";
		padding-bottom: 10px;
		margin-bottom: 17px;
		border-bottom: 2px dotted @medium_gray;
	}
	
	figure {
		margin: 0;
		
		svg {
			margin: 0 auto;
			display: block;
		}
		
		figcaption {
			text-align: center;
		}
	}
}